<!DOCTYPE html>
<html>
  <head>
    <title>ForecastFlyer - About Us</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <header>
      <h1>ForecastFlyer</h1>
      <style>
        :root {
          --header-background-image: url({{url_for(
              "static",
              filename= "img/SkyLine.jpg"
            )}});
        }
      </style>
    </header>

    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('destinations') }}">Destinations</a>
      <a href="{{ url_for('todo') }}">To Do</a>
      <a href="{{ url_for('about_us') }}">About Us</a>
    </nav>

    <section>
      <h2>About Us</h2>

      <p>
        We are a team of aspiring software engineers participating in the SEO
        Tech Developer Fellows program. This selective 20-month fellowship by
        Sponsors for Educational Opportunity (SEO) provides training,
        mentorship, and career development opportunities for high-achieving
        Black and Latinx students.
      </p>

      <p>
        For more information on this project, check out our
        <a
          href="https://github.com/TheManWhoLikesToCode/Travel-App"
          target="_blank"
          >GitHub repository</a
        >.
      </p>

      <h2>Our Team</h2>

      <ul class="list">
        <li>
          <h3>Jaydin Freeman</h3>
          <p>
            - Computer Science student at Kettering University<br />
            - Skills: Java, Python, C++, Frontend Web Dev, AutoCAD, VBA<br />
            - Experience at BorgWarner as a co-op across various engineering
            teams<br />
            - Clubs: ACM, NSBE, BSU, International Club<br />
            - Fellowships: SEO Tech Developer Fellow, ColorStack, Management
            Leadership for Tomorrow Career Prep Fellow
          </p>

          <p>
            Connect with me on
            <a
              href="https://www.linkedin.com/in/jaydin-freeman/"
              target="_blank"
              >LinkedIn</a
            >
          </p>
        </li>

        <li>
          <h3>Abubakr Hussien</h3>
          <p>- To Do</p>
        </li>

        <li>
          <h3>Khalil Felder</h3>
          <p>- To Do</p>
        </li>
      </ul>
    </section>

    <footer>&copy; 2023 ForecastFlyer. All rights reserved.</footer>
  </body>
</html>
