<!DOCTYPE html>
<html>
  <head>
    <title>ForecastFlyer - Destinations</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <header>
      <h1>ForecastFlyer</h1>
      <style>
        :root {
          --header-background-image: url({{url_for(
              "static",
              filename= "img/SkyLine.jpg"
            )}});
        }
      </style>
    </header>

    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('destinations') }}">Destinations</a>
      <a href="{{ url_for('todo') }}">To Do</a>
      <a href="{{ url_for('about_us') }}">About Us</a>
    </nav>

    <section>
      <h2>Flight Results</h2>
      <ul id="flight-results-list">
        {% if flights %} {% for flight in flights %}
        <ul>
          <h3>Flight ID: {{ flight.flight.iata }}</h3>
          <p>Departure Airport: {{ flight.departure.airport }}</p>
          <p>Arrival Airport: {{ flight.arrival.airport }}</p>
          <p>Departure Time: {{ flight.departure.estimated }}</p>
          <p>Arrival Time: {{ flight.arrival.estimated }}</p>
        </ul>
        {% endfor %} {% else %}
        <ul>No flight results found.</ul>
        {% endif %}
      </ul>
      <h2>Past Destinations</h2>
      <ul id="destinations-list">
        {% for destination in destinations %}
        <ul>
          <h3>Destination ID: {{ destination.id }}</h3>
          <p>Departure Location: {{ destination.Departure_Location }}</p>
          <p>Arrival Location: {{ destination.Arrival_Location }}</p>
          <p>Departure Date: {{ destination.Departure_Date }}</p>
          <p>Arrival Date: {{ destination.Arrival_Date }}</p>
        </ul>
        {% endfor %}
      </ul>

    </section>

    <footer>&copy; 2023 ForecastFlyer. All rights reserved.</footer>
  </body>
</html>
