<!DOCTYPE html>
<html>
  <head>
    <title>ForecastFlyer - To Do</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <header>
      <h1>ForecastFlyer</h1>
      <style>
        :root {
          --header-background-image: url({{url_for(
              "static",
              filename= "img/SkyLine.jpg"
            )}});
        }
      </style>
    </header>
    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('destinations') }}">Destinations</a>
      <a href="{{ url_for('todo') }}">To Do</a>
      <a href="{{ url_for('about_us') }}">About Us</a>
    </nav>

    <section>
      <form id ="destination-form" method="POST" action="">
        <h2>Search Destinations</h2>
        <p>
          Enter a city below to see a list of suggested activities and
          attractions.
        </p>
        <label for="destination-input">Destination:</label>
        <input id="destination" name="destination" type="text" />
        <input type="submit" value="Search" />
      </form>
    </section>
    <section>
      <h2>Search Results</h2>
      <ul class="list">
        {% if results %} {% for result in results %}
        <li>
          <h3>{{result.properties.name}}</h3>
        </li>
        {% endfor %} {% else %}
        <li>No results found</li>
        {% endif %}
      </ul>
    </section>
    <footer>&copy; 2023 ForecastFlyer. All rights reserved.</footer>
  </body>
</html>
