<!DOCTYPE html>
<html>

<head>
    <title>ForecastFlyer</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script src="script.js" defer></script>
</head>

<body>
    <header>
        <h1>ForecastFlyer</h1>
    </header>

    <nav>
        <a href="index.html">Home</a>
        <a href="destinations.html">Destinations</a>
        <a href="todo.html">To Do</a>
        <a href="#">About Us</a>
    </nav>

<form method="POST" action="">
  <section>
        <form id="destination-form">
            <label for="destination-input">Enter destination:</label>
            <input id="search" name="search" type="text" class="form-control">
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </form>
    </section>
    
    <div class="container">
        <ul>
            {% if results %} 
                {{subtitle}} 
                {% for result in results %} 
                <li>
                    {{result.properties.name}}
                </li>
                {%endfor%} 
            {%endif%}
        </ul>
    </div>
</form>
<footer>
        &copy; 2023 ForecastFlyer. All rights reserved.
    </footer>
</body>

</html>

